<!-- блок с фото и описанием эко 1 -->
<div class="container_eco" title="нажмите, чтобы перейти по ссылке на донат">
    <!-- Блок с фото эко -->
    <a href="https://www.greenpeace.org/international/support/donate-today" target="_blank">
        <div class="container_imgs_eco">
            <%= image_tag "images_for_all/greenpeace_logo.png", class: "img_content_divs imgs_eco", alt: "greenpeace", loading: "lazy" %>                        
        </div>
    </a>
    <!-- Подпись -->
    <p>Greenpeace</p>
</div>

<!-- блок с фото и описанием эко 2 -->
<div class="container_eco" title="нажмите, чтобы перейти по ссылке на донат">
    <!-- Блок с фото эко -->
    <a href="https://act.350.org/donate/web_banner_main_nav_v1/" target="_blank">
        <div class="container_imgs_eco">
            <%= image_tag "images_for_all/350_logo.png", class: "img_content_divs imgs_eco", alt: "greenpeace", loading: "lazy" %>  
        </div>
    </a>
    <!-- Подпись -->
    <p>350</p>
</div>

<!-- блок с фото и описанием эко 3 -->
<div class="container_eco" title="нажмите, чтобы перейти по ссылке на донат">
    <!-- Блок с фото эко -->
    <a href="https://climatenetwork.org/get-involved/support/" target="_blank">
        <div class="container_imgs_eco">
            <%= image_tag "images_for_all/climate action network_logo.png", class: "img_content_divs imgs_eco imgs_eco--third", alt: "greenpeace", loading: "lazy" %>  
        </div>
    </a>
    <!-- Подпись -->
    <p>Climate action network</p>
</div>

<!-- блок с фото и описанием эко 4 -->
<div class="container_eco" title="нажмите, чтобы перейти по ссылке на донат">
    <!-- Блок с фото эко -->
    <a href="https://donate.edf.org/campaign/676415/donate?recurring=1" target="_blank">
        <div class="container_imgs_eco">
            <%= image_tag "images_for_all/environmental defence fund_logo.png", class: "img_content_divs imgs_eco", alt: "greenpeace", loading: "lazy" %>  
        </div>
    </a>
    <!-- Подпись -->
    <p>Environmental defence fund</p>
</div>

<!-- блок с фото и описанием эко 5 -->
<div class="container_eco" title="нажмите, чтобы перейти по ссылке на донат">
    <!-- Блок с фото эко -->
    <a href="https://iucn.org/donate" target="_blank">
        <div class="container_imgs_eco">
            <%= image_tag "images_for_all/IUCN_logo.png", class: "img_content_divs imgs_eco", alt: "greenpeace", loading: "lazy" %>   
        </div>
    </a>
    <!-- Подпись -->
    <p>IUCN</p>
</div>

<!-- блок с фото и описанием эко 6 -->
<div class="container_eco" title="нажмите, чтобы перейти по ссылке на донат">
    <!-- Блок с фото эко -->
    <a href="https://preserve.nature.org/page/169344/donate/1?set.DonationLevel=" target="_blank"><div class="container_imgs_eco">
        <%= image_tag "images_for_all/the nature conservancy_logo.png", class: "img_content_divs imgs_eco", alt: "greenpeace", loading: "lazy" %>
    </div>
    </a>
    <!-- Подпись -->
    <p>The nature conservancy</p>
</div>